openapi: 3.2.0
info:
  title: Orthogonal API Marketplace Fantastic Jobs API
  version: 1.0.0
  description: Discoverable APIs payable over MPP (Machine Payments Protocol / Tempo), x402, and np (Circle Gateway Nanopayments, x402 v2).
servers:
- url: https://mpp.orthogonal.com
  description: MPP (Tempo) rail
- url: https://x402.orthogonal.com
  description: x402 rail
- url: https://np.orthogonal.com
  description: np (Circle Gateway, x402 v2) rail
tags:
- name: Fantastic Jobs
paths:
  /fantastic-jobs/v1/active-jb:
    get:
      operationId: fantastic_jobs_GET__v1_active_jb
      summary: Returns new jobs from LinkedIn, Wellfound, and Y Combinator.
      tags:
      - Fantastic Jobs
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.4
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/fantastic-jobs/v1/active-jb
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/fantastic-jobs/v1/active-jb
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/fantastic-jobs/v1/active-jb
  /fantastic-jobs/v1/active-ats:
    get:
      operationId: fantastic_jobs_GET__v1_active_ats
      summary: Returns new jobs from 54 ATS platforms (company career pages).
      tags:
      - Fantastic Jobs
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.4
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/fantastic-jobs/v1/active-ats
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/fantastic-jobs/v1/active-ats
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/fantastic-jobs/v1/active-ats
x-service-info:
  name: Orthogonal
  docs:
    llms: https://api.orthogonal.com/llms.txt
  protocols:
  - mpp
  - x402
  - np
