openapi: 3.2.0
info:
  title: Orthogonal API Marketplace Abstract Exchange Rates API
  version: 1.0.0
  description: Discoverable APIs payable over MPP (Machine Payments Protocol / Tempo), x402, and np (Circle Gateway Nanopayments, x402 v2).
servers:
- url: https://mpp.orthogonal.com
  description: MPP (Tempo) rail
- url: https://x402.orthogonal.com
  description: x402 rail
- url: https://np.orthogonal.com
  description: np (Circle Gateway, x402 v2) rail
tags:
- name: Abstract Exchange Rates
paths:
  /exchange-rates/v1/convert:
    get:
      operationId: exchange_rates_GET__v1_convert
      summary: Convert an amount from one currency to another.
      tags:
      - Abstract Exchange Rates
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.001
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/exchange-rates/v1/convert
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/exchange-rates/v1/convert
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/exchange-rates/v1/convert
  /exchange-rates/v1/historical:
    get:
      operationId: exchange_rates_GET__v1_historical
      summary: Get exchange rates for a specific historical date.
      tags:
      - Abstract Exchange Rates
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.001
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/exchange-rates/v1/historical
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/exchange-rates/v1/historical
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/exchange-rates/v1/historical
  /exchange-rates/v1/live:
    get:
      operationId: exchange_rates_GET__v1_live
      summary: Get the latest exchange rates for a given base currency.
      tags:
      - Abstract Exchange Rates
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.001
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/exchange-rates/v1/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/exchange-rates/v1/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/exchange-rates/v1/live
x-service-info:
  name: Orthogonal
  docs:
    llms: https://api.orthogonal.com/llms.txt
  protocols:
  - mpp
  - x402
  - np
