openapi: 3.2.0
info:
  title: Orthogonal API Marketplace Edges API
  version: 1.0.0
  description: Discoverable APIs payable over MPP (Machine Payments Protocol / Tempo), x402, and np (Circle Gateway Nanopayments, x402 v2).
servers:
- url: https://mpp.orthogonal.com
  description: MPP (Tempo) rail
- url: https://x402.orthogonal.com
  description: x402 rail
- url: https://np.orthogonal.com
  description: np (Circle Gateway, x402 v2) rail
tags:
- name: Edges
paths:
  /edges/actions/salesnavigator-search-company-metrics/run/live:
    post:
      operationId: edges_POST__actions_salesnavigator_search_company_metrics_run_live
      summary: Get total result count metrics for a Sales Navigator company search URL.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.18
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/salesnavigator-search-company-metrics/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/salesnavigator-search-company-metrics/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/salesnavigator-search-company-metrics/run/live
  /edges/actions/linkedin-find-company-url/run/live:
    post:
      operationId: edges_POST__actions_linkedin_find_company_url_run_live
      summary: Use AI to find a LinkedIn company page URL from a company name or domain.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.06
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-find-company-url/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-find-company-url/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-find-company-url/run/live
  /edges/actions/linkedin-extract-post-likers/run/live:
    post:
      operationId: edges_POST__actions_linkedin_extract_post_likers_run_live
      summary: Extract users who liked a specific LinkedIn post. Returns profile information of people who have reacted to the post.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.88
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-extract-post-likers/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-extract-post-likers/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-extract-post-likers/run/live
  /edges/actions/linkedin-extract-job/run/live:
    post:
      operationId: edges_POST__actions_linkedin_extract_job_run_live
      summary: Extract detailed information from a LinkedIn job posting including title, company, description, requirements, and application details.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.09
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-extract-job/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-extract-job/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-extract-job/run/live
  /edges/actions/linkedin-extract-people-skills/run/live:
    post:
      operationId: edges_POST__actions_linkedin_extract_people_skills_run_live
      summary: Extract the skills listed on a LinkedIn profile including skill names and endorsement counts.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.35
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-extract-people-skills/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-extract-people-skills/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-extract-people-skills/run/live
  /edges/actions/linkedin-extract-people-educations/run/live:
    post:
      operationId: edges_POST__actions_linkedin_extract_people_educations_run_live
      summary: Extract education history from LinkedIn profiles including schools, degrees, fields of study, and dates.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.35
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-extract-people-educations/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-extract-people-educations/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-extract-people-educations/run/live
  /edges/actions/linkedin-find-profile-url/run/live:
    post:
      operationId: edges_POST__actions_linkedin_find_profile_url_run_live
      summary: Use AI to find a LinkedIn profile URL from a person's name and optional contextual information.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.06
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-find-profile-url/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-find-profile-url/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-find-profile-url/run/live
  /edges/actions/salesnavigator-extract-leads-list/run/live:
    post:
      operationId: edges_POST__actions_salesnavigator_extract_leads_list_run_live
      summary: Extract leads from a saved leads list in Sales Navigator.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.88
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/salesnavigator-extract-leads-list/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/salesnavigator-extract-leads-list/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/salesnavigator-extract-leads-list/run/live
  /edges/actions/linkedin-extract-people-post-activity/run/live:
    post:
      operationId: edges_POST__actions_linkedin_extract_people_post_activity_run_live
      summary: Extract the post activity history of a LinkedIn profile, showing content they have published.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.09
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-extract-people-post-activity/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-extract-people-post-activity/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-extract-people-post-activity/run/live
  /edges/actions/linkedin-peopleid-from-salesnavigatorid/run/live:
    post:
      operationId: edges_POST__actions_linkedin_peopleid_from_salesnavigatorid_run_live
      summary: Convert a Sales Navigator lead ID to a LinkedIn people ID for profile enrichment.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.06
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-peopleid-from-salesnavigatorid/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-peopleid-from-salesnavigatorid/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-peopleid-from-salesnavigatorid/run/live
  /edges/actions/linkedin-search-companies/run/live:
    post:
      operationId: edges_POST__actions_linkedin_search_companies_run_live
      summary: Search for companies on LinkedIn using filters like industry, size, location, and keywords.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.88
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-search-companies/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-search-companies/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-search-companies/run/live
  /edges/actions/salesnavigator-extract-employees-distribution/run/live:
    post:
      operationId: edges_POST__actions_salesnavigator_extract_employees_distribution_run_live
      summary: Extract employee distribution data (by department, seniority, location) from a Sales Navigator company page.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.18
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/salesnavigator-extract-employees-distribution/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/salesnavigator-extract-employees-distribution/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/salesnavigator-extract-employees-distribution/run/live
  /edges/actions/linkedin-search-jobs/run/live:
    post:
      operationId: edges_POST__actions_linkedin_search_jobs_run_live
      summary: Search for job postings on LinkedIn using keywords, location, company, and other filters.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.88
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-search-jobs/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-search-jobs/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-search-jobs/run/live
  /edges/actions/salesnavigator-search-companies/run/live:
    post:
      operationId: edges_POST__actions_salesnavigator_search_companies_run_live
      summary: Search for accounts (companies) on Sales Navigator using advanced filters.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.88
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/salesnavigator-search-companies/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/salesnavigator-search-companies/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/salesnavigator-search-companies/run/live
  /edges/actions/linkedin-extract-licenses-certifications/run/live:
    post:
      operationId: edges_POST__actions_linkedin_extract_licenses_certifications_run_live
      summary: Extract licenses and certifications from a LinkedIn profile including credential name, issuing organization, and dates.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.35
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-extract-licenses-certifications/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-extract-licenses-certifications/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-extract-licenses-certifications/run/live
  /edges/actions/linkedin-search-people/run/live:
    post:
      operationId: edges_POST__actions_linkedin_search_people_run_live
      summary: Search for people on LinkedIn using filters like title, company, location, and keywords.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.88
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-search-people/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-search-people/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-search-people/run/live
  /edges/actions/linkedin-extract-people-comment-activity/run/live:
    post:
      operationId: edges_POST__actions_linkedin_extract_people_comment_activity_run_live
      summary: Extract the comment activity history of a LinkedIn profile, showing posts they have commented on.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.09
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-extract-people-comment-activity/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-extract-people-comment-activity/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-extract-people-comment-activity/run/live
  /edges/actions/linkedin-extract-similar-companies/run/live:
    post:
      operationId: edges_POST__actions_linkedin_extract_similar_companies_run_live
      summary: Extract a list of companies similar to a given LinkedIn company page, based on LinkedIn's recommendations.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.18
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-extract-similar-companies/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-extract-similar-companies/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-extract-similar-companies/run/live
  /edges/actions/linkedin-extract-post-reposters/run/live:
    post:
      operationId: edges_POST__actions_linkedin_extract_post_reposters_run_live
      summary: Extract users who reposted a specific LinkedIn post with their profile information.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.88
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-extract-post-reposters/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-extract-post-reposters/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-extract-post-reposters/run/live
  /edges/actions/salesnavigator-extract-accounts-list/run/live:
    post:
      operationId: edges_POST__actions_salesnavigator_extract_accounts_list_run_live
      summary: Extract accounts (companies) from a saved accounts list in Sales Navigator.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.88
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/salesnavigator-extract-accounts-list/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/salesnavigator-extract-accounts-list/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/salesnavigator-extract-accounts-list/run/live
  /edges/actions/linkedin-search-content/run/live:
    post:
      operationId: edges_POST__actions_linkedin_search_content_run_live
      summary: Search for posts and articles on LinkedIn using keywords and filters.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.88
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-search-content/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-search-content/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-search-content/run/live
  /edges/actions/linkedin-search-schools/run/live:
    post:
      operationId: edges_POST__actions_linkedin_search_schools_run_live
      summary: Search for schools and universities on LinkedIn using keywords and filters.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.88
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-search-schools/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-search-schools/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-search-schools/run/live
  /edges/actions/salesnavigator-extract-employees-count/run/live:
    post:
      operationId: edges_POST__actions_salesnavigator_extract_employees_count_run_live
      summary: Extract employee count statistics from a company's Sales Navigator account page.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.18
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/salesnavigator-extract-employees-count/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/salesnavigator-extract-employees-count/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/salesnavigator-extract-employees-count/run/live
  /edges/actions/linkedin-extract-post-commenters/run/live:
    post:
      operationId: edges_POST__actions_linkedin_extract_post_commenters_run_live
      summary: Extract users who commented on a specific LinkedIn post with their profile information and comments.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.88
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-extract-post-commenters/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-extract-post-commenters/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-extract-post-commenters/run/live
  /edges/actions/linkedin-search-events/run/live:
    post:
      operationId: edges_POST__actions_linkedin_search_events_run_live
      summary: Search for events on LinkedIn using keywords, date, and location filters.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.88
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-search-events/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-search-events/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-search-events/run/live
  /edges/actions/linkedin-search-groups/run/live:
    post:
      operationId: edges_POST__actions_linkedin_search_groups_run_live
      summary: Search for groups on LinkedIn using keywords and filters.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.88
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-search-groups/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-search-groups/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-search-groups/run/live
  /edges/actions/linkedin-extract-people-reaction-activity/run/live:
    post:
      operationId: edges_POST__actions_linkedin_extract_people_reaction_activity_run_live
      summary: Extract the reaction activity history of a LinkedIn profile, showing posts they have liked or reacted to.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.09
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-extract-people-reaction-activity/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-extract-people-reaction-activity/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-extract-people-reaction-activity/run/live
  /edges/actions/linkedin-extract-company-affiliates/run/live:
    post:
      operationId: edges_POST__actions_linkedin_extract_company_affiliates_run_live
      summary: Extract the list of affiliated companies (subsidiaries, parent companies) linked to a LinkedIn company page.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.18
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-extract-company-affiliates/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-extract-company-affiliates/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-extract-company-affiliates/run/live
  /edges/actions/linkedin-extract-event/run/live:
    post:
      operationId: edges_POST__actions_linkedin_extract_event_run_live
      summary: Extract detailed information from a LinkedIn event including title, description, date, location, and organizer.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.09
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-extract-event/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-extract-event/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-extract-event/run/live
  /edges/actions/linkedin-extract-people/run/live:
    post:
      operationId: edges_POST__actions_linkedin_extract_people_run_live
      summary: Extract detailed profile information from LinkedIn people including name, headline, experience, education, and skills.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.09
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-extract-people/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-extract-people/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-extract-people/run/live
  /edges/actions/linkedin-extract-event-attendees/run/live:
    post:
      operationId: edges_POST__actions_linkedin_extract_event_attendees_run_live
      summary: Extract the list of attendees registered for a LinkedIn event.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.88
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-extract-event-attendees/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-extract-event-attendees/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-extract-event-attendees/run/live
  /edges/actions/linkedin-extract-group-members/run/live:
    post:
      operationId: edges_POST__actions_linkedin_extract_group_members_run_live
      summary: Extract the list of members from a LinkedIn group you belong to.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.88
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-extract-group-members/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-extract-group-members/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-extract-group-members/run/live
  /edges/actions/linkedin-extract-post/run/live:
    post:
      operationId: edges_POST__actions_linkedin_extract_post_run_live
      summary: Extract detailed information from a LinkedIn post including content, author, engagement metrics, and media.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.09
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-extract-post/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-extract-post/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-extract-post/run/live
  /edges/actions/linkedin-extract-school-alumnis/run/live:
    post:
      operationId: edges_POST__actions_linkedin_extract_school_alumnis_run_live
      summary: Extract the list of alumni from a LinkedIn school page with their profile information.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.88
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-extract-school-alumnis/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-extract-school-alumnis/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-extract-school-alumnis/run/live
  /edges/actions/salesnavigator-search-company-employees/run/live:
    post:
      operationId: edges_POST__actions_salesnavigator_search_company_employees_run_live
      summary: Search for leads within a specific company using Sales Navigator filters.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.88
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/salesnavigator-search-company-employees/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/salesnavigator-search-company-employees/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/salesnavigator-search-company-employees/run/live
  /edges/actions/salesnavigator-extract-company/run/live:
    post:
      operationId: edges_POST__actions_salesnavigator_extract_company_run_live
      summary: Extract full company data from a Sales Navigator company page, including revenue, description, employee counts, and other profile metadata.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.18
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/salesnavigator-extract-company/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/salesnavigator-extract-company/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/salesnavigator-extract-company/run/live
  /edges/actions/linkedin-extract-people-experiences/run/live:
    post:
      operationId: edges_POST__actions_linkedin_extract_people_experiences_run_live
      summary: Extract detailed work experience history from LinkedIn profiles including job titles, companies, dates, and descriptions.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.35
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-extract-people-experiences/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-extract-people-experiences/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-extract-people-experiences/run/live
  /edges/actions/linkedin-search-company-employees/run/live:
    post:
      operationId: edges_POST__actions_linkedin_search_company_employees_run_live
      summary: Search for employees of a specific company on LinkedIn with optional filters.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.88
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-search-company-employees/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-search-company-employees/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-search-company-employees/run/live
  /edges/actions/linkedin-extract-company-employees-insights/run/live:
    post:
      operationId: edges_POST__actions_linkedin_extract_company_employees_insights_run_live
      summary: Extract employee insights and analytics from a LinkedIn company page, including headcount by function, location, and seniority.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.18
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-extract-company-employees-insights/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-extract-company-employees-insights/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-extract-company-employees-insights/run/live
  /edges/actions/linkedin-extract-company/run/live:
    post:
      operationId: edges_POST__actions_linkedin_extract_company_run_live
      summary: Extract detailed information from a LinkedIn company page including name, description, industry, employee count, and more.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.18
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/linkedin-extract-company/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/linkedin-extract-company/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/linkedin-extract-company/run/live
  /edges/actions/salesnavigator-search-metrics/run/live:
    post:
      operationId: edges_POST__actions_salesnavigator_search_metrics_run_live
      summary: Get metrics and statistics for a Sales Navigator search query, including total results count.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.18
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/salesnavigator-search-metrics/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/salesnavigator-search-metrics/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/salesnavigator-search-metrics/run/live
  /edges/actions/salesnavigator-search-people/run/live:
    post:
      operationId: edges_POST__actions_salesnavigator_search_people_run_live
      summary: Search for leads on Sales Navigator using advanced filters like title, company, geography, and more.
      tags:
      - Edges
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.88
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/edges/actions/salesnavigator-search-people/run/live
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/edges/actions/salesnavigator-search-people/run/live
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/edges/actions/salesnavigator-search-people/run/live
x-service-info:
  name: Orthogonal
  docs:
    llms: https://api.orthogonal.com/llms.txt
  protocols:
  - mpp
  - x402
  - np
