openapi: 3.2.0
info:
  title: Orthogonal API Marketplace Happenstance API
  version: 1.0.0
  description: Discoverable APIs payable over MPP (Machine Payments Protocol / Tempo), x402, and np (Circle Gateway Nanopayments, x402 v2).
servers:
- url: https://mpp.orthogonal.com
  description: MPP (Tempo) rail
- url: https://x402.orthogonal.com
  description: x402 rail
- url: https://np.orthogonal.com
  description: np (Circle Gateway, x402 v2) rail
tags:
- name: Happenstance
paths:
  /happenstance/v1/research:
    post:
      operationId: happenstance_POST__v1_research
      summary: Start a new person research request. Include as many details as possible about the person in the description field (name, company, role, etc.).
      tags:
      - Happenstance
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.3
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/happenstance/v1/research
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/happenstance/v1/research
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/happenstance/v1/research
  /happenstance/v1/research/{research_id}:
    get:
      operationId: happenstance_GET__v1_research_research_id_
      summary: Get the status and results of a research request. Returns status (RUNNING, COMPLETED, FAILED, FAILED_AMBIGUOUS) and a detailed profile when completed.
      tags:
      - Happenstance
      responses:
        '200':
          description: Successful response
x-service-info:
  name: Orthogonal
  docs:
    llms: https://api.orthogonal.com/llms.txt
  protocols:
  - mpp
  - x402
  - np
