openapi: 3.2.0
info:
  title: Orthogonal API Marketplace Serper API
  version: 1.0.0
  description: Discoverable APIs payable over MPP (Machine Payments Protocol / Tempo), x402, and np (Circle Gateway Nanopayments, x402 v2).
servers:
- url: https://mpp.orthogonal.com
  description: MPP (Tempo) rail
- url: https://x402.orthogonal.com
  description: x402 rail
- url: https://np.orthogonal.com
  description: np (Circle Gateway, x402 v2) rail
tags:
- name: Serper
paths:
  /serper/lens:
    post:
      operationId: serper_POST__lens
      summary: Google Lens reverse image search - identify objects, find visually similar…
      tags:
      - Serper
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.006
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/serper/lens
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/serper/lens
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/serper/lens
  /serper/images:
    post:
      operationId: serper_POST__images
      summary: Google Images search - returns image results with titles, image URLs, thumbnail…
      tags:
      - Serper
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.002
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/serper/images
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/serper/images
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/serper/images
  /serper/autocomplete:
    post:
      operationId: serper_POST__autocomplete
      summary: Google Autocomplete - returns search query suggestions based on a prefix.
      tags:
      - Serper
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.002
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/serper/autocomplete
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/serper/autocomplete
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/serper/autocomplete
  /serper/search:
    post:
      operationId: serper_POST__search
      summary: Google Search - returns organic results, knowledge graph, people also ask…
      tags:
      - Serper
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.002
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/serper/search
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/serper/search
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/serper/search
  /serper/news:
    post:
      operationId: serper_POST__news
      summary: Google News search - returns news articles with titles, links, sources, dates…
      tags:
      - Serper
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.002
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/serper/news
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/serper/news
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/serper/news
  /serper/scholar:
    post:
      operationId: serper_POST__scholar
      summary: Google Scholar search - returns academic papers with titles, authors…
      tags:
      - Serper
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.002
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/serper/scholar
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/serper/scholar
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/serper/scholar
  /serper/videos:
    post:
      operationId: serper_POST__videos
      summary: Google Videos search - returns video results with titles, links, channels…
      tags:
      - Serper
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.002
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/serper/videos
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/serper/videos
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/serper/videos
  /serper/maps:
    post:
      operationId: serper_POST__maps
      summary: Google Maps search - returns map listings with titles, addresses…
      tags:
      - Serper
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.006
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/serper/maps
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/serper/maps
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/serper/maps
  /serper/shopping:
    post:
      operationId: serper_POST__shopping
      summary: Google Shopping search - returns product listings with titles, prices, sellers…
      tags:
      - Serper
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.004
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/serper/shopping
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/serper/shopping
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/serper/shopping
  /serper/reviews:
    post:
      operationId: serper_POST__reviews
      summary: Google Reviews - returns reviews for a specific business/place including review…
      tags:
      - Serper
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.002
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/serper/reviews
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/serper/reviews
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/serper/reviews
  /serper/places:
    post:
      operationId: serper_POST__places
      summary: Google Places search - returns local businesses with names, addresses, phone…
      tags:
      - Serper
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.002
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/serper/places
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/serper/places
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/serper/places
  /serper/patents:
    post:
      operationId: serper_POST__patents
      summary: Google Patents search - returns patent results with titles, patent numbers…
      tags:
      - Serper
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.002
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/serper/patents
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/serper/patents
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/serper/patents
x-service-info:
  name: Orthogonal
  docs:
    llms: https://api.orthogonal.com/llms.txt
  protocols:
  - mpp
  - x402
  - np
