openapi: 3.2.0
info:
  title: Orthogonal API Marketplace Abstract VAT Validation API
  version: 1.0.0
  description: Discoverable APIs payable over MPP (Machine Payments Protocol / Tempo), x402, and np (Circle Gateway Nanopayments, x402 v2).
servers:
- url: https://mpp.orthogonal.com
  description: MPP (Tempo) rail
- url: https://x402.orthogonal.com
  description: x402 rail
- url: https://np.orthogonal.com
  description: np (Circle Gateway, x402 v2) rail
tags:
- name: Abstract VAT Validation
paths:
  /vat-validation/v1/validate:
    get:
      operationId: vat_validation_GET__v1_validate
      summary: Validate a VAT number and get company details associated with it.
      tags:
      - Abstract VAT Validation
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.002
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/vat-validation/v1/validate
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/vat-validation/v1/validate
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/vat-validation/v1/validate
  /vat-validation/v1/calculate:
    get:
      operationId: vat_validation_GET__v1_calculate
      summary: Calculate VAT amount for a given price and country.
      tags:
      - Abstract VAT Validation
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.002
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/vat-validation/v1/calculate
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/vat-validation/v1/calculate
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/vat-validation/v1/calculate
  /vat-validation/v1/categories:
    get:
      operationId: vat_validation_GET__v1_categories
      summary: Get VAT rate categories for a specific country.
      tags:
      - Abstract VAT Validation
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.002
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/vat-validation/v1/categories
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/vat-validation/v1/categories
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/vat-validation/v1/categories
x-service-info:
  name: Orthogonal
  docs:
    llms: https://api.orthogonal.com/llms.txt
  protocols:
  - mpp
  - x402
  - np
