openapi: 3.2.0
info:
  title: Orthogonal API Marketplace Crustdata API
  version: 1.0.0
  description: Discoverable APIs payable over MPP (Machine Payments Protocol / Tempo), x402, and np (Circle Gateway Nanopayments, x402 v2).
servers:
- url: https://mpp.orthogonal.com
  description: MPP (Tempo) rail
- url: https://x402.orthogonal.com
  description: x402 rail
- url: https://np.orthogonal.com
  description: np (Circle Gateway, x402 v2) rail
tags:
- name: Crustdata
paths:
  /crustdata/screener/companydb/search:
    post:
      operationId: crustdata_POST__screener_companydb_search
      summary: Search millions of companies in Crustdata's database with advanced filtering.
      tags:
      - Crustdata
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: dynamic
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/crustdata/screener/companydb/search
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/crustdata/screener/companydb/search
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/crustdata/screener/companydb/search
  /crustdata/data_lab/gartner_reviews/Table/:
    post:
      operationId: crustdata_POST__data_lab_gartner_reviews_Table_
      summary: Get Gartner Peer Insights review data for companies.
      tags:
      - Crustdata
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: dynamic
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/crustdata/data_lab/gartner_reviews/Table/
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/crustdata/data_lab/gartner_reviews/Table/
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/crustdata/data_lab/gartner_reviews/Table/
  /crustdata/screener/persondb/search:
    post:
      operationId: crustdata_POST__screener_persondb_search
      summary: Search millions of professional profiles in Crustdata's database with advanced…
      tags:
      - Crustdata
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: dynamic
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/crustdata/screener/persondb/search
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/crustdata/screener/persondb/search
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/crustdata/screener/persondb/search
  /crustdata/data_lab/job_listings/Table/:
    post:
      operationId: crustdata_POST__data_lab_job_listings_Table_
      summary: Get job listings from Crustdata's database.
      tags:
      - Crustdata
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.313
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/crustdata/data_lab/job_listings/Table/
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/crustdata/data_lab/job_listings/Table/
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/crustdata/data_lab/job_listings/Table/
  /crustdata/screener/company:
    get:
      operationId: crustdata_GET__screener_company
      summary: Enrich one or more companies by domain, name, or Crustdata company ID.
      tags:
      - Crustdata
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: dynamic
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/crustdata/screener/company
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/crustdata/screener/company
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/crustdata/screener/company
  /crustdata/screener/person/enrich:
    get:
      operationId: crustdata_GET__screener_person_enrich
      summary: Enrich one or more individuals by LinkedIn URL or business email.
      tags:
      - Crustdata
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 1.563
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/crustdata/screener/person/enrich
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/crustdata/screener/person/enrich
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/crustdata/screener/person/enrich
  /crustdata/screener/identify/:
    post:
      operationId: crustdata_POST__screener_identify_
      summary: Identify one or more companies in Crustdata's database by domain, name…
      tags:
      - Crustdata
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: dynamic
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/crustdata/screener/identify/
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/crustdata/screener/identify/
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/crustdata/screener/identify/
x-service-info:
  name: Orthogonal
  docs:
    llms: https://api.orthogonal.com/llms.txt
  protocols:
  - mpp
  - x402
  - np
