openapi: 3.1.0
info:
  title: Orthogonal Account API
  description: Orthogonal is a unified API and payment layer that lets AI agents discover, access, and pay for external services from a single catalog of 40+ third-party APIs. Agents describe what they need in natural language; Orthogonal returns the right service and proxies the call, metering a per-call price. This OpenAPI description was GENERATED from the public developer documentation at https://docs.orthogonal.com (no first-party OpenAPI is published) and captures the documented Discovery and Run surface. Endpoint shapes are faithful to the docs; verify against the live API before code generation.
  version: v1
  contact:
    name: Orthogonal
    url: https://docs.orthogonal.com
  x-provenance:
    generated: '2026-07-20'
    method: generated
    source: https://docs.orthogonal.com/api-reference/introduction.md
servers:
- url: https://api.orthogonal.com
  description: Production
security:
- bearerAuth: []
tags:
- name: Account
  description: Credit balance, usage, and transaction history.
paths:
  /v1/balance:
    get:
      operationId: getBalance
      tags:
      - Account
      summary: Check your credit balance
      responses:
        '200':
          description: Current credit balance.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/transactions:
    get:
      operationId: listTransactions
      tags:
      - Account
      summary: View your credit transaction history
      responses:
        '200':
          description: Transaction history.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/usage:
    get:
      operationId: getUsage
      tags:
      - Account
      summary: View your API usage history
      responses:
        '200':
          description: Usage history.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          const: false
        error:
          type: string
          description: Human-readable error message.
        code:
          type: string
          description: Machine-readable error code.
          enum:
          - UNAUTHORIZED
          - INSUFFICIENT_CREDITS
          - RATE_LIMITED
          - NOT_FOUND
          - UPSTREAM_ERROR
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'API key as a bearer token. Live keys are prefixed ''orth_live_'' and test keys ''orth_test_''. Send as ''Authorization: Bearer orth_live_...''.'
