openapi: 3.2.0
info:
  title: Orthogonal API Marketplace Tako API
  version: 1.0.0
  description: Discoverable APIs payable over MPP (Machine Payments Protocol / Tempo), x402, and np (Circle Gateway Nanopayments, x402 v2).
servers:
- url: https://mpp.orthogonal.com
  description: MPP (Tempo) rail
- url: https://x402.orthogonal.com
  description: x402 rail
- url: https://np.orthogonal.com
  description: np (Circle Gateway, x402 v2) rail
tags:
- name: Tako
paths:
  /tako/v1/beta/visualize:
    post:
      operationId: tako_POST__v1_beta_visualize
      summary: Turn your own data into interactive Tako Knowledge Card visualizations.
      tags:
      - Tako
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.023
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/tako/v1/beta/visualize
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/tako/v1/beta/visualize
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/tako/v1/beta/visualize
  /tako/v1/knowledge_search:
    post:
      operationId: tako_POST__v1_knowledge_search
      summary: Search for data visualizations using natural language.
      tags:
      - Tako
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.023
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/tako/v1/knowledge_search
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/tako/v1/knowledge_search
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/tako/v1/knowledge_search
  /tako/v1/thin_viz/create/:
    post:
      operationId: tako_POST__v1_thin_viz_create_
      summary: Create a custom embeddable knowledge card from your own data by specifying…
      tags:
      - Tako
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.023
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/tako/v1/thin_viz/create/
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/tako/v1/thin_viz/create/
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/tako/v1/thin_viz/create/
  /tako/v1/tako_tools_description:
    get:
      operationId: tako_GET__v1_tako_tools_description
      summary: Get descriptions of Tako search tool capabilities and available data topics.
      tags:
      - Tako
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.023
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/tako/v1/tako_tools_description
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/tako/v1/tako_tools_description
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/tako/v1/tako_tools_description
  /tako/v1/beta/chart_insights:
    get:
      operationId: tako_GET__v1_beta_chart_insights
      summary: Analyze a Tako Knowledge Card and get AI-generated insights.
      tags:
      - Tako
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.023
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/tako/v1/beta/chart_insights
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/tako/v1/beta/chart_insights
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/tako/v1/beta/chart_insights
  /tako/v1/thin_viz/default_schema/:
    get:
      operationId: tako_GET__v1_thin_viz_default_schema_
      summary: List all available chart/visualization templates that can be used with the…
      tags:
      - Tako
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.023
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/tako/v1/thin_viz/default_schema/
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/tako/v1/thin_viz/default_schema/
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/tako/v1/thin_viz/default_schema/
x-service-info:
  name: Orthogonal
  docs:
    llms: https://api.orthogonal.com/llms.txt
  protocols:
  - mpp
  - x402
  - np
