openapi: 3.2.0
info:
  title: Orthogonal API Marketplace Olostep API
  version: 1.0.0
  description: Discoverable APIs payable over MPP (Machine Payments Protocol / Tempo), x402, and np (Circle Gateway Nanopayments, x402 v2).
servers:
- url: https://mpp.orthogonal.com
  description: MPP (Tempo) rail
- url: https://x402.orthogonal.com
  description: x402 rail
- url: https://np.orthogonal.com
  description: np (Circle Gateway, x402 v2) rail
tags:
- name: Olostep API
paths:
  /olostep/v1/scrapes/{scrape_id}:
    get:
      operationId: olostep_GET__v1_scrapes_scrape_id_
      summary: Can be used to retrieve response for a scrape.
      tags:
      - Olostep API
      responses:
        '200':
          description: Successful response
  /olostep/v1/retrieve:
    get:
      operationId: olostep_GET__v1_retrieve
      summary: Retrieve page content of processed batches and crawls urls.
      tags:
      - Olostep API
      responses:
        '200':
          description: Successful response
  /olostep/v1/batches/{batch_id}:
    get:
      operationId: olostep_GET__v1_batches_batch_id_
      summary: Retrieves the status and progress information about a batch. To retrieve the content for a batch, see here
      tags:
      - Olostep API
      responses:
        '200':
          description: Successful response
  /olostep/v1/answers:
    post:
      operationId: olostep_POST__v1_answers
      summary: The AI will perform actions like searching and browsing web pages to find the answer to the provided task. Execution time is 3-30s depending upon complexity. For longer tasks, use the agent endpoint instead.
      tags:
      - Olostep API
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.05
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/olostep/v1/answers
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/olostep/v1/answers
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/olostep/v1/answers
  /olostep/v1/crawls/{crawl_id}/pages:
    get:
      operationId: olostep_GET__v1_crawls_crawl_id_pages
      summary: Fetches the list of pages for a specific crawl.
      tags:
      - Olostep API
      responses:
        '200':
          description: Successful response
  /olostep/v1/maps:
    post:
      operationId: olostep_POST__v1_maps
      summary: This endpoint allows users to get all the urls on a certain website. It can take up to 120 seconds for complex websites. For large websites, results are paginated using cursor-based pagination
      tags:
      - Olostep API
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.01
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/olostep/v1/maps
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/olostep/v1/maps
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/olostep/v1/maps
  /olostep/v1/batches/{batch_id}/items:
    get:
      operationId: olostep_GET__v1_batches_batch_id_items
      summary: Retrieves the list of items processed for a batch. You can then use the `retrieve_id` to get the content with the Retrieve Endpoint
      tags:
      - Olostep API
      responses:
        '200':
          description: Successful response
  /olostep/v1/answers/{answer_id}:
    get:
      operationId: olostep_GET__v1_answers_answer_id_
      summary: This endpoint retrieves a previously completed answer by its ID.
      tags:
      - Olostep API
      responses:
        '200':
          description: Successful response
  /olostep/v1/crawls/{crawl_id}:
    get:
      operationId: olostep_GET__v1_crawls_crawl_id_
      summary: Fetches information about a specific crawl.
      tags:
      - Olostep API
      responses:
        '200':
          description: Successful response
  /olostep/v1/crawls:
    post:
      operationId: olostep_POST__v1_crawls
      summary: Starts a new crawl. You receive a `id` to track the progress. The operation may take 1-10 mins depending upon the site and depth and pages parameters.
      tags:
      - Olostep API
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: dynamic
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/olostep/v1/crawls
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/olostep/v1/crawls
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/olostep/v1/crawls
  /olostep/v1/scrapes:
    post:
      operationId: olostep_POST__v1_scrapes
      summary: Initiate a web page scrape
      tags:
      - Olostep API
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.01
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/olostep/v1/scrapes
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/olostep/v1/scrapes
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/olostep/v1/scrapes
  /olostep/v1/batches:
    post:
      operationId: olostep_POST__v1_batches
      summary: 'Starts a new batch. You receive an `id` that you can use to track the progress of the batch as shown [here](/api-reference/batches/info). Note: Processing time is constant regardless of batch size'
      tags:
      - Olostep API
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: dynamic
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/olostep/v1/batches
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/olostep/v1/batches
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/olostep/v1/batches
x-service-info:
  name: Orthogonal
  docs:
    llms: https://api.orthogonal.com/llms.txt
  protocols:
  - mpp
  - x402
  - np
