openapi: 3.2.0
info:
  title: Orthogonal API Marketplace Company Enrich API
  version: 1.0.0
  description: Discoverable APIs payable over MPP (Machine Payments Protocol / Tempo), x402, and np (Circle Gateway Nanopayments, x402 v2).
servers:
- url: https://mpp.orthogonal.com
  description: MPP (Tempo) rail
- url: https://x402.orthogonal.com
  description: x402 rail
- url: https://np.orthogonal.com
  description: np (Circle Gateway, x402 v2) rail
tags:
- name: Company Enrich
paths:
  /company-enrich/geo/cities:
    post:
      operationId: company_enrich_POST__geo_cities
      summary: Search for cities by name or country.
      tags:
      - Company Enrich
      responses:
        '200':
          description: Successful response
  /company-enrich/positions/autocomplete:
    get:
      operationId: company_enrich_GET__positions_autocomplete
      summary: Autocomplete job positions and titles.
      tags:
      - Company Enrich
      responses:
        '200':
          description: Successful response
  /company-enrich/technologies/autocomplete:
    get:
      operationId: company_enrich_GET__technologies_autocomplete
      summary: Autocomplete technology names.
      tags:
      - Company Enrich
      responses:
        '200':
          description: Successful response
  /company-enrich/geo/countries:
    post:
      operationId: company_enrich_POST__geo_countries
      summary: Search for countries by name.
      tags:
      - Company Enrich
      responses:
        '200':
          description: Successful response
  /company-enrich/people/email:
    get:
      operationId: company_enrich_GET__people_email
      summary: Resolve a work email address for a person.
      tags:
      - Company Enrich
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.1225
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/company-enrich/people/email
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/company-enrich/people/email
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/company-enrich/people/email
  /company-enrich/companies/similar/count:
    post:
      operationId: company_enrich_POST__companies_similar_count
      summary: Get the total count of similar companies without returning results.
      tags:
      - Company Enrich
      responses:
        '200':
          description: Successful response
  /company-enrich/people:
    get:
      operationId: company_enrich_GET__people
      summary: Get a person's full profile by their CompanyEnrich ID.
      tags:
      - Company Enrich
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.0245
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/company-enrich/people
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/company-enrich/people
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/company-enrich/people
  /company-enrich/companies/search/scroll:
    post:
      operationId: company_enrich_POST__companies_search_scroll
      summary: Search companies with cursor-based pagination for large result sets.
      tags:
      - Company Enrich
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: dynamic
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/company-enrich/companies/search/scroll
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/company-enrich/companies/search/scroll
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/company-enrich/companies/search/scroll
  /company-enrich/companies/search:
    post:
      operationId: company_enrich_POST__companies_search
      summary: Search for companies matching specific criteria.
      tags:
      - Company Enrich
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: dynamic
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/company-enrich/companies/search
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/company-enrich/companies/search
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/company-enrich/companies/search
  /company-enrich/companies/autocomplete:
    get:
      operationId: company_enrich_GET__companies_autocomplete
      summary: Autocomplete company domain names.
      tags:
      - Company Enrich
      responses:
        '200':
          description: Successful response
  /company-enrich/keywords/autocomplete:
    get:
      operationId: company_enrich_GET__keywords_autocomplete
      summary: Autocomplete company keywords.
      tags:
      - Company Enrich
      responses:
        '200':
          description: Successful response
  /company-enrich/industries:
    get:
      operationId: company_enrich_GET__industries
      summary: List all available company industries.
      tags:
      - Company Enrich
      responses:
        '200':
          description: Successful response
  /company-enrich/geo/countries/{countryCode}:
    get:
      operationId: company_enrich_GET__geo_countries_countryCode_
      summary: Get a country by its ISO 3166-1 alpha-2 code (e.g., US, GB, DE)
      tags:
      - Company Enrich
      responses:
        '200':
          description: Successful response
  /company-enrich/geo/regions:
    get:
      operationId: company_enrich_GET__geo_regions
      summary: List all available geographic regions.
      tags:
      - Company Enrich
      responses:
        '200':
          description: Successful response
  /company-enrich/companies/workforce:
    get:
      operationId: company_enrich_GET__companies_workforce
      summary: Get workforce insights for a company.
      tags:
      - Company Enrich
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.06125
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/company-enrich/companies/workforce
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/company-enrich/companies/workforce
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/company-enrich/companies/workforce
  /company-enrich/people/search:
    post:
      operationId: company_enrich_POST__people_search
      summary: Search for people matching specific criteria.
      tags:
      - Company Enrich
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: dynamic
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/company-enrich/people/search
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/company-enrich/people/search
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/company-enrich/people/search
  /company-enrich/companies:
    get:
      operationId: company_enrich_GET__companies
      summary: Get a company's full profile by its CompanyEnrich ID.
      tags:
      - Company Enrich
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.01225
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/company-enrich/companies
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/company-enrich/companies
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/company-enrich/companies
  /company-enrich/companies/similar:
    post:
      operationId: company_enrich_POST__companies_similar
      summary: Find companies similar to one or more given companies.
      tags:
      - Company Enrich
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: dynamic
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/company-enrich/companies/similar
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/company-enrich/companies/similar
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/company-enrich/companies/similar
  /company-enrich/companies/enrich:
    post:
      operationId: company_enrich_POST__companies_enrich
      summary: Enrich a company by NAME or a social URL (name, linkedinUrl, twitterUrl, etc.).
      tags:
      - Company Enrich
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.01225
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/company-enrich/companies/enrich
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/company-enrich/companies/enrich
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/company-enrich/companies/enrich
    get:
      operationId: company_enrich_GET__companies_enrich
      summary: Enrich a company by domain name.
      tags:
      - Company Enrich
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.01225
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/company-enrich/companies/enrich
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/company-enrich/companies/enrich
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/company-enrich/companies/enrich
  /company-enrich/companies/similar/scroll:
    post:
      operationId: company_enrich_POST__companies_similar_scroll
      summary: Find similar companies with cursor-based pagination for large result sets.
      tags:
      - Company Enrich
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: dynamic
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/company-enrich/companies/similar/scroll
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/company-enrich/companies/similar/scroll
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/company-enrich/companies/similar/scroll
  /company-enrich/people/search/scroll:
    post:
      operationId: company_enrich_POST__people_search_scroll
      summary: Search people with cursor-based pagination for large result sets.
      tags:
      - Company Enrich
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: dynamic
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/company-enrich/people/search/scroll
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/company-enrich/people/search/scroll
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/company-enrich/people/search/scroll
  /company-enrich/geo/states:
    post:
      operationId: company_enrich_POST__geo_states
      summary: Search for states or provinces by name or country.
      tags:
      - Company Enrich
      responses:
        '200':
          description: Successful response
  /company-enrich/people/lookup:
    post:
      operationId: company_enrich_POST__people_lookup
      summary: Look up a person by their email address.
      tags:
      - Company Enrich
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.06125
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/company-enrich/people/lookup
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/company-enrich/people/lookup
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/company-enrich/people/lookup
  /company-enrich/companies/search/count:
    post:
      operationId: company_enrich_POST__companies_search_count
      summary: Get the total count of companies matching search criteria without returning…
      tags:
      - Company Enrich
      responses:
        '200':
          description: Successful response
  /company-enrich/companies/enrich/batch:
    post:
      operationId: company_enrich_POST__companies_enrich_batch
      summary: Enrich multiple companies by domain in a single request.
      tags:
      - Company Enrich
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: dynamic
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/company-enrich/companies/enrich/batch
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/company-enrich/companies/enrich/batch
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/company-enrich/companies/enrich/batch
x-service-info:
  name: Orthogonal
  docs:
    llms: https://api.orthogonal.com/llms.txt
  protocols:
  - mpp
  - x402
  - np
