openapi: 3.2.0
info:
  title: Orthogonal API Marketplace Context.dev API
  version: 1.0.0
  description: Discoverable APIs payable over MPP (Machine Payments Protocol / Tempo), x402, and np (Circle Gateway Nanopayments, x402 v2).
servers:
- url: https://mpp.orthogonal.com
  description: MPP (Tempo) rail
- url: https://x402.orthogonal.com
  description: x402 rail
- url: https://np.orthogonal.com
  description: np (Circle Gateway, x402 v2) rail
tags:
- name: Context.dev
paths:
  /context-dev/web/fonts:
    get:
      operationId: context_dev_GET__web_fonts
      summary: Scrape font information from a website including font families, usage statistics, fallbacks, and element/word counts.
      tags:
      - Context.dev
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.03
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/context-dev/web/fonts
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/context-dev/web/fonts
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/context-dev/web/fonts
  /context-dev/web/scrape/html:
    get:
      operationId: context_dev_GET__web_scrape_html
      summary: Scrapes the given URL and returns the raw HTML content of the page.
      tags:
      - Context.dev
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.03
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/context-dev/web/scrape/html
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/context-dev/web/scrape/html
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/context-dev/web/scrape/html
  /context-dev/web/scrape/images:
    get:
      operationId: context_dev_GET__web_scrape_images
      summary: Scrapes all images from the given URL. Extracts images from img, svg, picture/source, link, and video elements including inline SVGs, base64 data URIs, and standard URLs.
      tags:
      - Context.dev
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.03
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/context-dev/web/scrape/images
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/context-dev/web/scrape/images
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/context-dev/web/scrape/images
  /context-dev/web/scrape/markdown:
    get:
      operationId: context_dev_GET__web_scrape_markdown
      summary: Scrapes the given URL, converts the HTML content to Markdown, and returns the result.
      tags:
      - Context.dev
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.03
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/context-dev/web/scrape/markdown
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/context-dev/web/scrape/markdown
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/context-dev/web/scrape/markdown
  /context-dev/web/scrape/sitemap:
    get:
      operationId: context_dev_GET__web_scrape_sitemap
      summary: Crawls the sitemap of the given domain and returns all discovered page URLs. Supports sitemap index files (recursive), parallel fetching with concurrency control, deduplication, and filters out non-page resources (images, PDFs, etc.).
      tags:
      - Context.dev
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.03
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/context-dev/web/scrape/sitemap
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/context-dev/web/scrape/sitemap
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/context-dev/web/scrape/sitemap
  /context-dev/web/styleguide:
    get:
      operationId: context_dev_GET__web_styleguide
      summary: Extract a comprehensive design system from a website including colors, typography, spacing, shadows, and UI components.
      tags:
      - Context.dev
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.03
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/context-dev/web/styleguide
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/context-dev/web/styleguide
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/context-dev/web/styleguide
  /context-dev/brand/ai/products:
    post:
      operationId: context_dev_POST__brand_ai_products
      summary: 'Beta feature: Extract product information from a brand''s website. We will analyze the website and return a list of products with details such as name, description, image, pricing, features, and more.'
      tags:
      - Context.dev
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.03
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/context-dev/brand/ai/products
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/context-dev/brand/ai/products
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/context-dev/brand/ai/products
  /context-dev/brand/retrieve-by-email:
    get:
      operationId: context_dev_GET__brand_retrieve_by_email
      summary: Retrieve brand information using an email address while detecting disposable and free email addresses. This endpoint extracts the domain from the email address and returns brand data for that domain. Disposable and free email addresses (like gmail.com, yahoo.com) will throw a 422 error.
      tags:
      - Context.dev
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.03
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/context-dev/brand/retrieve-by-email
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/context-dev/brand/retrieve-by-email
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/context-dev/brand/retrieve-by-email
  /context-dev/brand/retrieve-by-isin:
    get:
      operationId: context_dev_GET__brand_retrieve_by_isin
      summary: Retrieve brand information using an ISIN (International Securities Identification Number). This endpoint looks up the company associated with the ISIN and returns its brand data.
      tags:
      - Context.dev
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.03
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/context-dev/brand/retrieve-by-isin
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/context-dev/brand/retrieve-by-isin
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/context-dev/brand/retrieve-by-isin
  /context-dev/brand/ai/query:
    post:
      operationId: context_dev_POST__brand_ai_query
      summary: Use AI to extract specific data points from a brand's website. The AI will crawl the website and extract the requested information based on the provided data points.
      tags:
      - Context.dev
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.03
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/context-dev/brand/ai/query
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/context-dev/brand/ai/query
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/context-dev/brand/ai/query
  /context-dev/web/naics:
    get:
      operationId: context_dev_GET__web_naics
      summary: Classify any brand into 2022 NAICS industry codes from its domain or name.
      tags:
      - Context.dev
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.03
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/context-dev/web/naics
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/context-dev/web/naics
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/context-dev/web/naics
  /context-dev/web/search:
    post:
      operationId: context_dev_POST__web_search
      summary: Performs an intelligent web search. Costs 1 credit per returned result.
      tags:
      - Context.dev
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.03
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/context-dev/web/search
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/context-dev/web/search
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/context-dev/web/search
  /context-dev/brand/prefetch:
    post:
      operationId: context_dev_POST__brand_prefetch
      summary: Signal that you may fetch brand data for a particular domain soon to improve latency. This endpoint does not charge credits and is available for paid customers to optimize future requests. [You must be on a paid plan to use this endpoint]
      tags:
      - Context.dev
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.03
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/context-dev/brand/prefetch
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/context-dev/brand/prefetch
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/context-dev/brand/prefetch
  /context-dev/brand/retrieve-simplified:
    get:
      operationId: context_dev_GET__brand_retrieve_simplified
      summary: 'Returns a simplified version of brand data containing only essential information: domain, title, colors, logos, and backdrops. This endpoint is optimized for faster responses and reduced data transfer.'
      tags:
      - Context.dev
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.03
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/context-dev/brand/retrieve-simplified
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/context-dev/brand/retrieve-simplified
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/context-dev/brand/retrieve-simplified
  /context-dev/brand/ai/product:
    post:
      operationId: context_dev_POST__brand_ai_product
      summary: 'Beta feature: Given a single URL, determines if it is a product detail page, classifies the platform/product type, and extracts the product information. Supports Amazon, TikTok Shop, Etsy, and generic ecommerce sites.'
      tags:
      - Context.dev
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.03
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/context-dev/brand/ai/product
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/context-dev/brand/ai/product
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/context-dev/brand/ai/product
  /context-dev/brand/transaction_identifier:
    get:
      operationId: context_dev_GET__brand_transaction_identifier
      summary: Endpoint specially designed for platforms that want to identify transaction data by the transaction title.
      tags:
      - Context.dev
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.03
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/context-dev/brand/transaction_identifier
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/context-dev/brand/transaction_identifier
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/context-dev/brand/transaction_identifier
  /context-dev/brand/retrieve:
    get:
      operationId: context_dev_GET__brand_retrieve
      summary: Retrieve logos, backdrops, colors, industry, description, and more from any domain
      tags:
      - Context.dev
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.03
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/context-dev/brand/retrieve
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/context-dev/brand/retrieve
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/context-dev/brand/retrieve
  /context-dev/brand/retrieve-by-name:
    get:
      operationId: context_dev_GET__brand_retrieve_by_name
      summary: Retrieve brand information using a company name. This endpoint searches for the company by name and returns its brand data.
      tags:
      - Context.dev
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.03
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/context-dev/brand/retrieve-by-name
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/context-dev/brand/retrieve-by-name
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/context-dev/brand/retrieve-by-name
  /context-dev/brand/prefetch-by-email:
    post:
      operationId: context_dev_POST__brand_prefetch_by_email
      summary: Signal that you may fetch brand data for a particular domain soon to improve latency. This endpoint accepts an email address, extracts the domain from it, validates that it's not a disposable or free email provider, and queues the domain for prefetching. This endpoint does not charge credits and is available for paid customers to optimize future requests. [You must be on a paid plan to use this endpoint]
      tags:
      - Context.dev
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.03
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/context-dev/brand/prefetch-by-email
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/context-dev/brand/prefetch-by-email
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/context-dev/brand/prefetch-by-email
  /context-dev/people/retrieve:
    post:
      operationId: context_dev_POST__people_retrieve
      summary: Retrieve and normalize a person profile from identifiers such as LinkedIn URL.
      tags:
      - Context.dev
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.03
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/context-dev/people/retrieve
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/context-dev/people/retrieve
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/context-dev/people/retrieve
  /context-dev/web/screenshot:
    get:
      operationId: context_dev_GET__web_screenshot
      summary: Capture a screenshot of a website. Supports both viewport (standard browser view) and full page screenshots.
      tags:
      - Context.dev
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.03
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/context-dev/web/screenshot
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/context-dev/web/screenshot
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/context-dev/web/screenshot
  /context-dev/web/extract:
    post:
      operationId: context_dev_POST__web_extract
      summary: Crawl a website, use the provided JSON Schema and instructions to prioritize relevant internal links, and extract structured data from the selected pages.
      tags:
      - Context.dev
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.03
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/context-dev/web/extract
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/context-dev/web/extract
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/context-dev/web/extract
  /context-dev/web/competitors:
    get:
      operationId: context_dev_GET__web_competitors
      summary: Analyze a company's landing page and web search evidence to return direct competitors for the same product or market.
      tags:
      - Context.dev
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.03
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/context-dev/web/competitors
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/context-dev/web/competitors
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/context-dev/web/competitors
  /context-dev/brand/retrieve-by-ticker:
    get:
      operationId: context_dev_GET__brand_retrieve_by_ticker
      summary: Retrieve brand information using a stock ticker symbol. This endpoint looks up the company associated with the ticker and returns its brand data.
      tags:
      - Context.dev
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.03
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/context-dev/brand/retrieve-by-ticker
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/context-dev/brand/retrieve-by-ticker
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/context-dev/brand/retrieve-by-ticker
  /context-dev/web/crawl:
    post:
      operationId: context_dev_POST__web_crawl
      summary: Performs a crawl starting from a given URL, extracts page content as Markdown, and returns results for all crawled pages. Only follows links within the same domain as the starting URL. Costs 1 credit per successful page crawled.
      tags:
      - Context.dev
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.03
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/context-dev/web/crawl
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/context-dev/web/crawl
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/context-dev/web/crawl
  /context-dev/web/sic:
    get:
      operationId: context_dev_GET__web_sic
      summary: Classify any brand into Standard Industrial Classification (SIC) codes from its domain or name.
      tags:
      - Context.dev
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.03
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/context-dev/web/sic
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/context-dev/web/sic
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/context-dev/web/sic
x-service-info:
  name: Orthogonal
  docs:
    llms: https://api.orthogonal.com/llms.txt
  protocols:
  - mpp
  - x402
  - np
