openapi: 3.2.0
info:
  title: Orthogonal API Marketplace Openmart API
  version: 1.0.0
  description: Discoverable APIs payable over MPP (Machine Payments Protocol / Tempo), x402, and np (Circle Gateway Nanopayments, x402 v2).
servers:
- url: https://mpp.orthogonal.com
  description: MPP (Tempo) rail
- url: https://x402.orthogonal.com
  description: x402 rail
- url: https://np.orthogonal.com
  description: np (Circle Gateway, x402 v2) rail
tags:
- name: Openmart
paths:
  /openmart/api/v1/search/only_ids:
    post:
      operationId: openmart_POST__api_v1_search_only_ids
      summary: Lightweight search returning only business IDs.
      tags:
      - Openmart
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.01
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/openmart/api/v1/search/only_ids
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/openmart/api/v1/search/only_ids
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/openmart/api/v1/search/only_ids
  /openmart/api/v1/search:
    post:
      operationId: openmart_POST__api_v1_search
      summary: Search local businesses by natural language query with 22+ filter categories.
      tags:
      - Openmart
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.01
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/openmart/api/v1/search
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/openmart/api/v1/search
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/openmart/api/v1/search
  /openmart/api/v1/enrich_company:
    post:
      operationId: openmart_POST__api_v1_enrich_company
      summary: Enrich a company by website URL or social media link.
      tags:
      - Openmart
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.01
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/openmart/api/v1/enrich_company
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/openmart/api/v1/enrich_company
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/openmart/api/v1/enrich_company
  /openmart/api/v1/business_records/list/{id_type}:
    get:
      operationId: openmart_GET__api_v1_business_records_list_id_type_
      summary: Fetch full business records by openmart_id or google_place_id. Up to 100 IDs.
      tags:
      - Openmart
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.01
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/openmart/api/v1/business_records/list/{id_type}
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/openmart/api/v1/business_records/list/{id_type}
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/openmart/api/v1/business_records/list/{id_type}
x-service-info:
  name: Orthogonal
  docs:
    llms: https://api.orthogonal.com/llms.txt
  protocols:
  - mpp
  - x402
  - np
