openapi: 3.2.0
info:
  title: Orthogonal API Marketplace Findymail API
  version: 1.0.0
  description: Discoverable APIs payable over MPP (Machine Payments Protocol / Tempo), x402, and np (Circle Gateway Nanopayments, x402 v2).
servers:
- url: https://mpp.orthogonal.com
  description: MPP (Tempo) rail
- url: https://x402.orthogonal.com
  description: x402 rail
- url: https://np.orthogonal.com
  description: np (Circle Gateway, x402 v2) rail
tags:
- name: Findymail
paths:
  /findymail/api/search/business-profile:
    post:
      operationId: findymail_POST__api_search_business_profile
      summary: Find someone's email from a business profile URL. Uses one finder credit if a verified email is found. Limited to 30 concurrent sync requests.
      tags:
      - Findymail
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.07
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/findymail/api/search/business-profile
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/findymail/api/search/business-profile
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/findymail/api/search/business-profile
  /findymail/api/technologies:
    post:
      operationId: findymail_POST__api_technologies
      summary: Get the technology stack for a company by domain. 1 credit when technologies found, free when no results.
      tags:
      - Findymail
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.07
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/findymail/api/technologies
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/findymail/api/technologies
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/findymail/api/technologies
  /findymail/api/search/phone:
    post:
      operationId: findymail_POST__api_search_phone
      summary: Find phone number from a LinkedIn URL. Uses 10 finder credits if found. EU citizens excluded for legal reasons.
      tags:
      - Findymail
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.65
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/findymail/api/search/phone
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/findymail/api/search/phone
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/findymail/api/search/phone
  /findymail/api/intellimatch/status:
    get:
      operationId: findymail_GET__api_intellimatch_status
      summary: Poll export status for an Intellimatch search. Returns success, processing, pending, failed, or not_found.
      tags:
      - Findymail
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.001
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/findymail/api/intellimatch/status
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/findymail/api/intellimatch/status
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/findymail/api/intellimatch/status
  /findymail/api/search/employees:
    post:
      operationId: findymail_POST__api_search_employees
      summary: Find employees by company website and job title. 1 credit per found contact. Does NOT return email.
      tags:
      - Findymail
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: dynamic
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/findymail/api/search/employees
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/findymail/api/search/employees
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/findymail/api/search/employees
  /findymail/api/lookalike/search:
    post:
      operationId: findymail_POST__api_lookalike_search
      summary: Find companies similar to a seed domain. 1 credit per 10 results (rounded up).
      tags:
      - Findymail
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.07
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/findymail/api/lookalike/search
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/findymail/api/lookalike/search
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/findymail/api/lookalike/search
  /findymail/api/verify:
    post:
      operationId: findymail_POST__api_verify
      summary: Verify an email address. Uses one verifier credit on all attempted verifications.
      tags:
      - Findymail
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.015
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/findymail/api/verify
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/findymail/api/verify
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/findymail/api/verify
  /findymail/api/search/company:
    post:
      operationId: findymail_POST__api_search_company
      summary: Retrieve company data using a LinkedIn URL, name, or domain. At least one field required. 1 credit per successful response.
      tags:
      - Findymail
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.07
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/findymail/api/search/company
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/findymail/api/search/company
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/findymail/api/search/company
  /findymail/api/technologies/search:
    get:
      operationId: findymail_GET__api_technologies_search
      summary: Search the technology catalog by name. Returns up to 25 results. Free, no credits consumed. Rate limited to 10 req/min.
      tags:
      - Findymail
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.001
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/findymail/api/technologies/search
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/findymail/api/technologies/search
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/findymail/api/technologies/search
  /findymail/api/search/name:
    post:
      operationId: findymail_POST__api_search_name
      summary: Find someone's email from name and company (website or name). Uses one finder credit if a verified email is found.
      tags:
      - Findymail
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.07
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/findymail/api/search/name
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/findymail/api/search/name
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/findymail/api/search/name
  /findymail/api/search/reverse-email:
    post:
      operationId: findymail_POST__api_search_reverse_email
      summary: Find a LinkedIn profile from an email address. 1 credit without profile data, 2 credits with profile data (with_profile=true).
      tags:
      - Findymail
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.13
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/findymail/api/search/reverse-email
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/findymail/api/search/reverse-email
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/findymail/api/search/reverse-email
  /findymail/api/search/domain:
    post:
      operationId: findymail_POST__api_search_domain
      summary: Find contacts with valid emails at a given domain with given roles. Limited to 5 concurrent sync requests.
      tags:
      - Findymail
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.07
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/findymail/api/search/domain
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/findymail/api/search/domain
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/findymail/api/search/domain
  /findymail/api/intellimatch/data:
    get:
      operationId: findymail_GET__api_intellimatch_data
      summary: 'Retrieve paginated company and contact results from a completed Intellimatch search. Pagination billing: call the first page normally and save billing.requestId from the Orthogonal /v1/run response. For later page, offset, or cursor calls on the same logical search, pass parentRequestId with unchanged non-pagination parameters. Valid continuation calls still get their own request IDs and quoted price, but are charged 0. Changing filters starts a new billable request.'
      tags:
      - Findymail
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.01
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/findymail/api/intellimatch/data
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/findymail/api/intellimatch/data
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/findymail/api/intellimatch/data
  /findymail/api/intellimatch/search:
    post:
      operationId: findymail_POST__api_intellimatch_search
      summary: Create an Intellimatch search task using natural language queries. Returns a hash for polling status.
      tags:
      - Findymail
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.07
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/findymail/api/intellimatch/search
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/findymail/api/intellimatch/search
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/findymail/api/intellimatch/search
x-service-info:
  name: Orthogonal
  docs:
    llms: https://api.orthogonal.com/llms.txt
  protocols:
  - mpp
  - x402
  - np
