openapi: 3.2.0
info:
  title: Orthogonal API Marketplace Coresignal API
  version: 1.0.0
  description: Discoverable APIs payable over MPP (Machine Payments Protocol / Tempo), x402, and np (Circle Gateway Nanopayments, x402 v2).
servers:
- url: https://mpp.orthogonal.com
  description: MPP (Tempo) rail
- url: https://x402.orthogonal.com
  description: x402 rail
- url: https://np.orthogonal.com
  description: np (Circle Gateway, x402 v2) rail
tags:
- name: Coresignal
paths:
  /coresignal/v2/job_base/search/filter/preview:
    post:
      operationId: coresignal_POST__v2_job_base_search_filter_preview
      summary: Preview job search results with summary data.
      tags:
      - Coresignal
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.021
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/coresignal/v2/job_base/search/filter/preview
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/coresignal/v2/job_base/search/filter/preview
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/coresignal/v2/job_base/search/filter/preview
  /coresignal/v2/company_base/collect/{profile_url}:
    get:
      operationId: coresignal_GET__v2_company_base_collect_profile_url_
      summary: Get a full company profile by its professional network URL.
      tags:
      - Coresignal
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.042
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/coresignal/v2/company_base/collect/{profile_url}
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/coresignal/v2/company_base/collect/{profile_url}
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/coresignal/v2/company_base/collect/{profile_url}
  /coresignal/v2/company_multi_source/collect/{company_id}:
    get:
      operationId: coresignal_GET__v2_company_multi_source_collect_company_id_
      summary: Get the most comprehensive company profile by its Coresignal numeric ID.
      tags:
      - Coresignal
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.084
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/coresignal/v2/company_multi_source/collect/{company_id}
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/coresignal/v2/company_multi_source/collect/{company_id}
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/coresignal/v2/company_multi_source/collect/{company_id}
  /coresignal/v2/company_multi_source/collect/{profile_url}:
    get:
      operationId: coresignal_GET__v2_company_multi_source_collect_profile_url_
      summary: Get a comprehensive multi-source company profile by its professional network…
      tags:
      - Coresignal
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.084
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/coresignal/v2/company_multi_source/collect/{profile_url}
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/coresignal/v2/company_multi_source/collect/{profile_url}
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/coresignal/v2/company_multi_source/collect/{profile_url}
  /coresignal/v2/employee_multi_source/collect/{employee_id}:
    get:
      operationId: coresignal_GET__v2_employee_multi_source_collect_employee_id_
      summary: Get the most comprehensive employee profile by its Coresignal numeric ID.
      tags:
      - Coresignal
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.084
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/coresignal/v2/employee_multi_source/collect/{employee_id}
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/coresignal/v2/employee_multi_source/collect/{employee_id}
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/coresignal/v2/employee_multi_source/collect/{employee_id}
  /coresignal/v2/employee_post/collect/{post_id}:
    get:
      operationId: coresignal_GET__v2_employee_post_collect_post_id_
      summary: Get a full professional network post by its numeric post ID.
      tags:
      - Coresignal
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.042
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/coresignal/v2/employee_post/collect/{post_id}
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/coresignal/v2/employee_post/collect/{post_id}
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/coresignal/v2/employee_post/collect/{post_id}
  /coresignal/v2/employee_multi_source/collect/{profile_url}:
    get:
      operationId: coresignal_GET__v2_employee_multi_source_collect_profile_url_
      summary: Get a comprehensive multi-source employee profile by their professional network…
      tags:
      - Coresignal
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.084
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/coresignal/v2/employee_multi_source/collect/{profile_url}
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/coresignal/v2/employee_multi_source/collect/{profile_url}
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/coresignal/v2/employee_multi_source/collect/{profile_url}
  /coresignal/v2/employee_base/collect/{profile_url}:
    get:
      operationId: coresignal_GET__v2_employee_base_collect_profile_url_
      summary: Get a full employee profile by their professional network URL.
      tags:
      - Coresignal
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.042
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/coresignal/v2/employee_base/collect/{profile_url}
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/coresignal/v2/employee_base/collect/{profile_url}
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/coresignal/v2/employee_base/collect/{profile_url}
  /coresignal/v2/company_base/collect/{company_id}:
    get:
      operationId: coresignal_GET__v2_company_base_collect_company_id_
      summary: Get a full company profile by its Coresignal numeric ID.
      tags:
      - Coresignal
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.042
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/coresignal/v2/company_base/collect/{company_id}
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/coresignal/v2/company_base/collect/{company_id}
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/coresignal/v2/company_base/collect/{company_id}
  /coresignal/v2/company_multi_source/enrich:
    get:
      operationId: coresignal_GET__v2_company_multi_source_enrich
      summary: Look up a company by its website domain and get the most comprehensive company…
      tags:
      - Coresignal
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.084
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/coresignal/v2/company_multi_source/enrich
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/coresignal/v2/company_multi_source/enrich
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/coresignal/v2/company_multi_source/enrich
  /coresignal/v2/employee_base/collect/{employee_id}:
    get:
      operationId: coresignal_GET__v2_employee_base_collect_employee_id_
      summary: Get a full employee/professional profile by its Coresignal numeric ID.
      tags:
      - Coresignal
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.042
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/coresignal/v2/employee_base/collect/{employee_id}
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/coresignal/v2/employee_base/collect/{employee_id}
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/coresignal/v2/employee_base/collect/{employee_id}
  /coresignal/v2/employee_post/search/filter:
    post:
      operationId: coresignal_POST__v2_employee_post_search_filter
      summary: Search for professional network posts using filters like author profile URL or…
      tags:
      - Coresignal
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.021
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/coresignal/v2/employee_post/search/filter
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/coresignal/v2/employee_post/search/filter
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/coresignal/v2/employee_post/search/filter
  /coresignal/v2/job_base/search/filter:
    post:
      operationId: coresignal_POST__v2_job_base_search_filter
      summary: Search for job listings using filters passed in the request body.
      tags:
      - Coresignal
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.021
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/coresignal/v2/job_base/search/filter
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/coresignal/v2/job_base/search/filter
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/coresignal/v2/job_base/search/filter
  /coresignal/v2/employee_clean/collect/{employee_id}:
    get:
      operationId: coresignal_GET__v2_employee_clean_collect_employee_id_
      summary: Get a cleaned, deduplicated employee profile by its Coresignal numeric ID.
      tags:
      - Coresignal
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.042
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/coresignal/v2/employee_clean/collect/{employee_id}
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/coresignal/v2/employee_clean/collect/{employee_id}
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/coresignal/v2/employee_clean/collect/{employee_id}
  /coresignal/v2/company_clean/enrich:
    get:
      operationId: coresignal_GET__v2_company_clean_enrich
      summary: Look up a company by its website domain and get a full cleaned company profile.
      tags:
      - Coresignal
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.042
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/coresignal/v2/company_clean/enrich
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/coresignal/v2/company_clean/enrich
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/coresignal/v2/company_clean/enrich
  /coresignal/v2/employee_base/search/filter/preview:
    post:
      operationId: coresignal_POST__v2_employee_base_search_filter_preview
      summary: Preview employee search results with summary data.
      tags:
      - Coresignal
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.021
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/coresignal/v2/employee_base/search/filter/preview
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/coresignal/v2/employee_base/search/filter/preview
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/coresignal/v2/employee_base/search/filter/preview
  /coresignal/v2/company_clean/collect/{company_id}:
    get:
      operationId: coresignal_GET__v2_company_clean_collect_company_id_
      summary: Get a cleaned, deduplicated company profile by its Coresignal numeric ID.
      tags:
      - Coresignal
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.042
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/coresignal/v2/company_clean/collect/{company_id}
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/coresignal/v2/company_clean/collect/{company_id}
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/coresignal/v2/company_clean/collect/{company_id}
  /coresignal/v2/company_base/search/filter:
    post:
      operationId: coresignal_POST__v2_company_base_search_filter
      summary: Search for companies using filters passed in the request body.
      tags:
      - Coresignal
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.021
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/coresignal/v2/company_base/search/filter
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/coresignal/v2/company_base/search/filter
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/coresignal/v2/company_base/search/filter
  /coresignal/v2/employee_base/search/filter:
    post:
      operationId: coresignal_POST__v2_employee_base_search_filter
      summary: Search for professionals/employees using filters passed in the request body.
      tags:
      - Coresignal
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.021
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/coresignal/v2/employee_base/search/filter
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/coresignal/v2/employee_base/search/filter
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/coresignal/v2/employee_base/search/filter
  /coresignal/v2/job_base/collect/{job_id}:
    get:
      operationId: coresignal_GET__v2_job_base_collect_job_id_
      summary: Get a full job listing by its Coresignal numeric ID.
      tags:
      - Coresignal
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.042
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/coresignal/v2/job_base/collect/{job_id}
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/coresignal/v2/job_base/collect/{job_id}
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/coresignal/v2/job_base/collect/{job_id}
  /coresignal/v2/company_base/search/filter/preview:
    post:
      operationId: coresignal_POST__v2_company_base_search_filter_preview
      summary: Preview company search results with summary data.
      tags:
      - Coresignal
      responses:
        '200':
          description: Successful response
        '402':
          description: Payment Required (x402 / MPP / np)
      x-payment-info:
        price: 0.021
        offers:
        - method: mpp
          intent: charge
          rail: tempo
          currency: USDC.e
          url: https://mpp.orthogonal.com/coresignal/v2/company_base/search/filter/preview
        - method: x402
          intent: charge
          rail: base
          currency: USDC
          url: https://x402.orthogonal.com/coresignal/v2/company_base/search/filter/preview
        - method: np
          intent: charge
          rail: base
          currency: USDC
          settlement: circle-gateway
          version: x402-v2
          url: https://np.orthogonal.com/coresignal/v2/company_base/search/filter/preview
x-service-info:
  name: Orthogonal
  docs:
    llms: https://api.orthogonal.com/llms.txt
  protocols:
  - mpp
  - x402
  - np
